<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <H1>Welcome to Quora <a href="http://localhost:8080/posts/new">Click to create new post</a></H1>
        <% for(post of posts){ %>
        <div>
            <h4><%= post.username %></h4>
        <h3><%= post.post %></h3>
        </div>
        <a href="http://localhost:8080/posts/<%=post.id%>">See Details</a>
        <a href="http://localhost:8080/posts/<%=post.id%>/edit">Edit post</a>
        <form action="/posts/<%=post.id%>?_method=DELETE" method="post">
            <button>Delete</button>
        </form>
        
        <% } %>
        <br>-
    <a href="http://localhost:8080/posts/new">Create a new post</a>

</body>
</html>